# Include all Python files in models directory
recursive-include db *.py

# Exclude development files
exclude *.nix
exclude *.yaml
exclude *.lock
exclude .envrc
exclude pytest.ini
exclude .coveragerc
exclude test/*
recursive-exclude * *.nix
recursive-exclude * *.yaml
recursive-exclude * *.lock
recursive-exclude * .envrc
recursive-exclude * pytest.ini
recursive-exclude * .coveragerc